[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
jsonify = "*"
werkzeug = "*"
python-dotenv = "*"
psycopg2 = "*"
pyjwt = "*"
flask-bcrypt = "*"
pytest = "*"
pytest-cov = "*"
flask-jwt-extended = "*"

[dev-packages]
pytest-cov = "*"
pytest = "*"

[requires]
python_version = "3.11"
