[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
flask-jwt-extended = "*"
werkzeug = "*"
flask-sqlalchemy = "*"
passlib = "*"
python-dotenv = "*"
psycopg2 = "*"
sqlalchemy = "*"
six = "*"
pytz = "*"
pyjwt = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
